# Copy this file to .env and replace the IP with your machine's local IP address
# DO NOT commit the .env file to Git!
# tạo .env 
#chạy npm start là hình như CODE tự cấu hình IP 
EXPO_PUBLIC_API_URL=http://<YOUR_LOCAL_IP>:5000/api/v1
